.host {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-end;
  overflow: visible;
}

.button-slot {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}
